body {
	background-color: #1B1F27;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	margin: 0 auto;
	max-width: 1200px;
	min-height: 100vh;
}

table {
	width: 100%;
	margin-top: 30px;
	border-collapse: collapse;
	background-color: #252A34;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
}

th, td {
	border: 1px solid #5568FE;
	padding: 10px;
	text-align: center;
	color: white;
}

th {
	background-color: #5568FE;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

tr:nth-child(even) {
	background-color: #1B1F27;
}

tr:hover {
	background-color: #3A3F4B;
}

td a {
	display: block;
	padding: 5px 10px;
	background-color: #5568FE;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
}

td a:hover {
	background-color: #3A3F4B;
}

td:last-child a {
	background-color: #FE5656;
}

td:last-child a:hover {
	background-color: #DB3D3D;
}
